<div class="container h-75">
  <div class="d-flex row">
    <h1>Alterar Cliente</h1>

    <%= render 'form', client: @client %>
    <div class="text-end">
      <%= link_to 'Info', @client, :class => "btn btn-success text-white col-2" %>
      <%= link_to 'Voltar', clients_path, :class => "btn btn-secondary text-white col-2" %>
    </div >
  </div>
</div>