<div class="container h-75">
  <div class="d-flex row">
    <h1>Alterar Fornecedor</h1>

    <%= render 'form', vendor: @vendor %>
    <div class="text-end">
        <%= link_to 'Info', @vendor, :class => "btn btn-success text-white col-2" %>
        <%= link_to 'Voltar', vendors_path, :class => "btn btn-secondary text-white col-2" %>
    </div>
  </div>
</div>