<div class="container h-75">
  <div class="d-flex row">    
    <h1>Novo Hardware</h1>

    <%= render 'form', hardware: @hardware %>
    <div class="text-end">    
      <%= link_to 'Voltar', hardwares_path, :class => "btn btn-secondary text-white col-2" %>
    </div>
  </div>
</div>
